build*
src/GUI/ui_*
*.o
*.a
*.so
data/config
*.user
*.pro
*.pkg
*.zip
*.app
.qmake.stash
build-xyGrib-*
build-xyGrib-*
cscope.files
tags
index.sh
build
cscope.out
*~
*.kdev*
*.patch
.DS_Store
XyGrib.app
data/config
xyGrib.pro.user*
